@import "tailwindcss";

* {
  font-family: "Space Grotesk", serif;
  scroll-behavior: smooth;
}

/* .overlay::before{
  content: "";
  position: absolute;
  width: 100%;
  background-image: url(./img/bg-white.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  mix-blend-mode: luminosity;
  opacity: 10%;
} */

body{
  height: 100%;
  overflow: hidden; 
}


h1 {
  font-family: "Sora", sans-serif;
}

@theme {
  --breakpoint-xs: 15rem;
}